*.cpp linguist-detectable=false
*.h linguist-detectable=false
*.cc linguist-detectable=false
*.html linguist-detectable=false
*.java linguist-detectable=false
*.kt linguist-detectable=false
*.swift linguist-detectable=false
*.cmake linguist-detectable=false
*.Makefile linguist-detectable=false
*.makefile linguist-detectable=false
*.make linguist-detectable=false
*.txt linguist-detectable=false
