<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>463867324918-rdv2ripo7t35lttt804ekfd5ob9pscuv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.463867324918-rdv2ripo7t35lttt804ekfd5ob9pscuv</string>
	<key>API_KEY</key>
	<string>AIzaSyDE_vPAnmbM5ap7jehXHYJAlIH1Ye5hP7E</string>
	<key>GCM_SENDER_ID</key>
	<string>463867324918</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.glucSafe</string>
	<key>PROJECT_ID</key>
	<string>gluc-safe</string>
	<key>STORAGE_BUCKET</key>
	<string>gluc-safe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:463867324918:ios:9c83ea2b6087b90ee3bfd7</string>
</dict>
</plist>